extends ./../layout

block content

  form
    span Name
    input(type="text" value="#{product.name}")
    br
    span Price
    input(type='text' value="#{product.price}")
    br
    span Inventory
    input(type='text' value="#{product.inventory}")
    br
