extends ./../layout

block content
  h1 Please enter a new item
  form(action="/products" method="POST" enctype="application/x-www-form-urlencoded")
    span Name &nbsp
    input(type="text" value="Name" name="name")
    br
    span Price &nbsp
    input(type='text' value="0" name="price")
    br
    span Inventory &nbsp
    input(type='text' value="0" name="inventory")
    br
    input(type='submit' value="submit")
