extends ./../layout

block content
  form(action="/articles/#{article.id}" method="POST" enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="_method" value="PUT")
    span Title &nbsp
    input(type="text" value="#{article.title}" name="title")
    br
    span Author &nbsp
    input(type='text' value="#{article.author}" name="author")
    br
    span Content &nbsp
    input(type='text' value="#{article.content}" name="content")
    br
    input(type='Submit' value="Submit")
