extends ./../layout

block content
  form(action='/articles/new' method='get')
    input(type='submit' value='Input new article' )
    br
  form(action='/articles/edit' method='post' enctype="application/x-www-form-urlencoded")
    input(type='submit' value='Update article by Title')
    input(type='text' placeholder='Title' name='title')
    br
  form(action='/articles/show' method='post' enctype="application/x-www-form-urlencoded")
    input(type='submit' value='Find article by Title')
    input(type='text' placeholder='Title' name='title')
    br
  form(action='/articles' method='post' enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="_method" value="DELETE")
    input(type='submit' value='Delete article by Title')
    input(type='text' placeholder='Title' name='title')
    br
  - var numberOfArticles = articles.length
  if numberOfArticles === 0
    h1 There are currently no articles
  each article in articles
    ul
      li Title: #{article.title}
      li Author: #{article.author}
      li Content: #{article.content}